.pio
.vscode
*_env.ini
*.pem
**/.DS_Store
node_modules
*.ps1
!recovery/**/flash-recovery.ps1
artifacts/*.bin
!artifacts/OpenMQTTGateway-v1.8.1-wol-gpio.32.bin
!artifacts/OpenMQTTGateway-v1.8.1-wol-gpio.33.bin
main/certs/private*
lib/*
!lib/esp32-bt-lib
!lib/TheengsUtils
!lib/LEDManager
CMakeLists.txt
dependencies.lock
sdkconfig.*
!sdkconfig.defaults
__pycache__
*.pem
